@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
  transition: background-color 0.4s ease, color 0.4s ease;
  font-family: 'Inter', sans-serif;
}

a {
  @apply text-blue-600 dark:text-blue-400 hover:underline;
}

button {
  @apply transition-colors duration-300;
}
